.flex-container {
  display: flex;
  border: 2px solid #fff;
  border-radius: 10px;
}

.title {
  text-transform: uppercase;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

.score {
  align-self: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 5px;

  padding: 10px;
  border: 2px solid #fff;
  background-color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

.score-text {
  padding-top: 10px;

  color: rgb(24, 34, 74);
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
}
.score-number {
  color: rgb(24, 34, 74);
  font-size: 30px;
  text-align: center;
}
