<div class="flex-container">
  <div class="title">
    <p>Rock</p>
    <p>Paper</p>
    <p>Scissors</p>
  </div>
  <div class="score">
    <div class="score-text">
      Score
    </div>
    <div class="score-number">{{ score }}</div>
  </div>
</div>
