$blue: rgb(24, 34, 74);

.element {
  border: 15px solid #fff;
  width: 120px;
  height: 120px;
  box-shadow: 2px 3px 10px 1px #000;

  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  margin: 20px;
  display: flex;
}

.element-box {
  margin: auto;
}

.element-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.result {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.resultElement {
  border: 20px solid #fff;
  width: 150px;
  height: 150px;
  box-shadow: 2px 3px 10px 1px #000;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  margin: 10px;
  display: flex;
}

.resultElement img {
  margin: auto;
}

.rules {
  display: flex;
  justify-content: flex-end;
}

.result-play {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 30px;
}

.result-text {
  font-size: 30px;
  padding: 10px;
  font-weight: 700;
}
.play-button {
  padding: 10px 40px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  display: block;
  color: $blue;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Rules */

.rules-textbox {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rules {
  position: fixed;
  left: 90%;
  top: 90%;
  justify-content: flex-end;
}

.rules-header {
  display: flex;
}

.rules-text {
  color: $blue;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 20px;
}

.rules-exit {
  display: flex;
  margin-left: 130px;
  margin-bottom: 50px;
  padding: 20px;
  border: none;
  font-size: 15px;
}

.rules-textbox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.buttonRules {
  background-color: $blue;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300px;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
}
