<!-- Select element -->

<div *ngIf="!gameStatus">
  <div class="element-container">
    <div
      *ngFor="let element of elements"
      class="element"
      (click)="elementClicked(element)"
      [ngStyle]="{ 'border-color': element.color }"
    >
      <div class="element-box">
        <img [src]="element.img" [alt]="element.name" />
      </div>
    </div>
  </div>
</div>

<!-- Result -->

<div *ngIf="gameStatus" class="result">
  <div class="resultElement" [ngStyle]="{ 'border-color': yourItem.color }">
    <img [src]="yourItem.img" [alt]="yourItem.name" />
  </div>
  <div class="result-play">
    <p class="result-text">{{ this.result }}</p>

    <button class="play-button" (click)="playAgain()">Play again</button>
  </div>
  <div
    class="resultElement"
    [ngStyle]="{ 'border-color': computerSelectedItem.color }"
  >
    <img
      [src]="this.computerSelectedItem.img"
      [alt]="this.computerSelectedItem.name"
    />
  </div>
</div>

<!-- Rules -->

<div class="rules">
  <button class="buttonRules" (click)="openRules()">Rules</button>
</div>

<div *ngIf="rulesText">
  <div class="rules-textbox">
    <div class="rules-header">
      <div>
        <p class="rules-text">Rules</p>
      </div>
      <div>
        <button (click)="openRules()" class="rules-exit">X</button>
      </div>
    </div>

    <img src="../../assets/images/image-rules-bonus.svg" alt="rules" />
  </div>
</div>
