* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.section {
  height: 100vh;

  background-color: rgb(24, 34, 74);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(24, 34, 74);
  color: #fff;
}
